@charset "UTF-8";
/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
html{-webkit-box-sizing:border-box;box-sizing:border-box;overflow-y:scroll;-webkit-text-size-adjust:100%}
body{background:#fff;color:#000;font-family:"メイリオ","ヒラギノ角ゴ Pro W3","Lucida Grande","Hiragino Kaku Gothic Pro",Osaka,Verdana,"ＭＳ Ｐゴシック",sans-serif}
*,::after,::before{background-repeat:no-repeat;-webkit-box-sizing:inherit;box-sizing:inherit}
::after,::before{text-decoration:inherit;vertical-align:inherit}
*{padding:0;margin:0}
audio:not([controls]){display:none;height:0}
hr{overflow:visible}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
summary{display:list-item}
small{font-size:80%}
[hidden],template{display:none}
abbr[title]{border-bottom:1px dotted;text-decoration:none}
a{background-color:transparent;color:#222;-webkit-text-decoration-skip:objects;text-decoration:none}
a:visited{color:#5a2680}
a:active,a:hover{outline-width:0;text-decoration:underline}
code,kbd,pre,samp{font-family:monospace,monospace}
b,strong{font-weight:bolder}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
ul{list-style:none}
input{border-radius:0}
[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}
[disabled]{cursor:default}
[type=number]{width:auto}
[type=search]{-webkit-appearance:textfield}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
textarea{overflow:auto;resize:vertical}
button,input,optgroup,select,textarea{font:inherit}
optgroup{font-weight:700}
button{overflow:visible}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
button,select{text-transform:none}
button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}
select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}
legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
img{border-style:none;-webkit-backface-visibility:hidden;vertical-align:top}
progress{vertical-align:baseline}
svg:not(:root){overflow:hidden}
audio,canvas,progress,video{display:inline-block}
[aria-busy=true]{cursor:progress}
[aria-controls]{cursor:pointer}
[aria-disabled]{cursor:default}
::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}
::selection{background-color:#b3d4fc;color:#000;text-shadow:none}
/*!グローバルヘッダー*/
#global_header .container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
#global_header .site_logo_wrap{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
#global_header .site_logo_wrap a{color:#222}
#global_header .site_logo_wrap a:hover{text-decoration:none}
#global_header .site_logo img{width:auto}
#global_header .site_name{font-weight:700;line-height:1;font-size:1%}
#global_header .site_name img{width:auto;vertical-align:top}
#global_header .lang_selector{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start;line-height:1;list-style:none;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}
#global_header .lang_selector>li{white-space:nowrap}
#global_header .lang_selector>li+li{border-left:1px solid #ccc}
#global_header .lang_selector>li.current{font-weight:700}
#global_header .lang_selector a{color:#222}
/*!グローバルナビ*/
#global_nav a{display:block;color:#222}
#global_nav .container>ul>li>a{position:relative;font-weight:700}
/*!グローバルフッター*/
#global_footer{background-color:#0b0b0b;color:#fff}
#global_footer .function_nav{list-style:none}
#global_footer .function_nav a{color:#fff}
#global_footer .function_nav .icon_blank{width:12px;height:11px}
#global_footer .copyright{display:block}
/*!フッターコンタクト*/
.footer_contact{background-color:#f5f5f5}
.footer_contact_header{color:#606367;font-weight:400}
/*!フッターサイトマップ*/
.footer_sitemap_area{background-color:#606367;color:#fff}
.footer_sitemap_area a{color:#fff}
.footer_sitemap ul{list-style:none}
.footer_sitemap_container>ul>li>a{font-weight:700}
.footer_sitemap_area .corp_info dt{font-weight:700}
.footer_sitemap_area .corp_info dd+dd{margin-top:2px}
/*!スキップナビ*/
#skipnav{display:block;position:relative;height:1px;margin-top:-1px;overflow:hidden;background-color:#595959;text-align:center;line-height:2;color:#fff;font-size:14px}
#skipnav:focus{height:2em}
#skipnav_main{font-size:0;outline:0}
/*!パンくずリスト*/
/*!ページ*/
.page_header{position:relative;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.page_header:after{content:"";display:block;min-height:inherit;font-size:0}
.page_header>.container{width:100%;text-align:center;color:#fff}
.page_header .title{font-weight:700;line-height:1.25}
.page_title{font-size:100%}
.page_title .inner{display:block;border-bottom:1px solid #ccc;color:#606367;text-align:center}
.page_title+.section[class*=section_theme]{padding-top:0}
#main .container{position:relative}
/*!セクション*/
.section.section_theme_a{background-color:#fff}
.section.section_theme_b{background-color:#f5f5f5}
.section.section_theme_c{background-color:#ddd}
.section.section_theme_d{background-color:#ece7e2}
.section_header{color:#606367;font-weight:400;text-align:center;line-height:1.63}
.sub_section_header{font-weight:700}
.unit .thumb img{display:block;max-width:100%;height:auto;-webkit-transition:opacity .25s ease-out;-o-transition:opacity .25s ease-out;transition:opacity .25s ease-out}
.unit .name{line-height:1.67}
.unit .caption{line-height:1.56}
.unit a{position:relative;display:block}
.unit_a{text-align:center}
.unit_a .name{font-weight:700}
.unit_a a{background-repeat:no-repeat;background-size:100% auto}
.unit_a a:before{content:"";display:block;padding-top:55%}
.unit_b{text-align:center}
.unit_c .name{font-weight:700}
.unit_c a{background-repeat:no-repeat;background-size:100% auto}
.unit_c a:before{content:"";display:block;padding-top:55%}
.unit_d{text-align:center}
.unit_e{background-repeat:no-repeat;background-size:100% auto}
.unit_e:before{content:"";display:block;padding-top:61.67%}
.unit_e .name{font-weight:700}
.unit_f{background-repeat:no-repeat;background-size:100% auto}
.unit_f:before{content:"";display:block;margin-bottom:15px;padding-top:55.5%}
.unit_f .icon{position:absolute;left:0;bottom:0;-webkit-transform:translate(0,50%);-ms-transform:translate(0,50%);transform:translate(0,50%);display:block}
.unit_f .icon img{display:block;max-width:100%;height:auto}
.unit_f .time{position:relative;border-bottom:1px solid #929292;font-weight:700;text-align:center}
.unit_f .name{text-align:center}
.unit_f .detail{margin-top:8px}
/*!ページトップ*/
#pagetop{position:relative;height:0}
#pagetop a{position:absolute;right:10px;bottom:10px;display:block;z-index:50;opacity:0;-webkit-transition:opacity .25s ease-out;-o-transition:opacity .25s ease-out;transition:opacity .25s ease-out}
#pagetop a.show{opacity:1}
#pagetop a.pin{position:fixed}
/*!リスト*/
.list_date{list-style:none;border-top:1px solid #c4c4c4}
.list_date>li .title{font-weight:700}
.list_date>li .title>a{background:url(../img/arr.svg) no-repeat 0 .5em;background-size:7px auto}
.list_links{list-style:none}
.list_links a{display:block;padding-left:14px;background:url(../img/arr.svg) no-repeat;background-size:7px auto}
.list_disc>li{position:relative}
.list_disc>li:before{content:"";position:absolute;left:0;display:inline-block;background-color:#222;border-radius:50%}
.list_disc>li+li{margin-top:.5em}
.list_order{list-style:none;counter-reset:order}
.list_order li{position:relative}
.list_order li:before{position:absolute;left:0;display:block}
.list_order>li+li{margin-top:.5em}
.list_order>li:before{counter-increment:order;content:counter(order) ". "}
.list_business .business .name{font-weight:700;text-align:center}
.list_business .business a .thumb img{display:block;max-width:100%;height:auto;-webkit-transition:opacity .25s ease-out;-o-transition:opacity .25s ease-out;transition:opacity .25s ease-out}
/*!テーブル*/
.table_a{width:100%;border-collapse:collapse;border-spacing:0}
.table_a td,.table_a th{padding-top:12px;padding-bottom:12px;border-top:1px solid #d7d8d9;border-bottom:1px solid #d7d8d9;vertical-align:top}
.table_a tbody th{padding-right:10px;font-weight:700;text-align:left}
.table_a tbody td{padding-right:10px;padding-left:10px}
.table_b{width:100%;border-collapse:collapse;border-spacing:0}
.table_b td,.table_b th{border-top:1px solid #d7d8d9;border-bottom:1px solid #d7d8d9;vertical-align:top}
.table_b tbody th{background-color:#f5f5f5;font-weight:700;text-align:left}
/*!コンタクトモジュール*/
.md_contact_header{font-weight:400}
.md_contact_tel .tel{font-weight:700;font-family:Helvetica,Arial,sans-serif;line-height:1}
.md_contact_fax .fax{font-weight:700;font-family:Helvetica,Arial,sans-serif;line-height:1}
.md_contact_mail .link{font-weight:700;line-height:1.45}
.md_contact_mail .link a{color:#222}
/*!ソーシャルリンクモジュール*/
.md_social_links{display:table}
.md_social_links li{display:table-cell}
/*!ボタン*/
.md_button_a a{position:relative;display:inline-block;background-color:#c30000;color:#fff;font-weight:700;letter-spacing:.05em}
.md_button_a a:after{content:"";position:absolute;top:50%;display:inline-block;background:url(../img/arr_line_white.svg) no-repeat;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.md_button_a a:hover{text-decoration:none}
.md_button_b a{position:relative;display:inline-block;border:2px solid #606367;background-color:#fff;color:#222;font-weight:700;letter-spacing:.05em}
.md_button_b a:after{content:"";position:absolute;top:50%;display:inline-block;background:url(../img/arr_line.svg) no-repeat;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.md_button_b a:hover{text-decoration:none}
/*!レイアウト*/
.grid{overflow:hidden}
.grid .grid_container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.grid .grid_container:after{content:"";-webkit-box-flex:1;-webkit-flex:auto;-ms-flex:auto;flex:auto}
.grid .col{-webkit-box-sizing:content-box;box-sizing:content-box}
.footer_banner{background-color:#f5f5f5;border-radius:8px}
.footer_banner_a .image img{display:block;max-width:100%;height:auto}
.footer_banner_a .text{font-weight:700}
.footer_banner_b{text-align:center}
.footer_banner_b .text{margin-bottom:3px;font-weight:700}
/*!ヘルパークラス*/
.border{border:1px solid #9c9ea1;-webkit-box-sizing:border-box;box-sizing:border-box}
.fluid{display:block;max-width:100%;height:auto}
.right{text-align:right}
.center{text-align:center}
.left{text-align:left}
.box_center{margin:0 auto}
.marker_disc{position:relative;display:inline-block}
.marker_disc:before{content:"";position:absolute;left:0;display:inline-block;background-color:#222;border-radius:50%}
.annotation{position:relative;padding-left:1em}
.annotation .symbol{position:absolute;left:0;top:.1em}
.icon_blank{position:relative;top:-2px;vertical-align:middle}
a.inline{font-weight:700;text-decoration:underline}
.arr{display:inline-block;font-weight:700;background:url(../img/arr.svg) no-repeat}
.mt05em{margin-top:.5em}
.mt1em{margin-top:1em}
.mt15em{margin-top:1.5em}
.mt2em{margin-top:2em}
.mt25em{margin-top:2.5em}
.mt3em{margin-top:3em}
.mt35em{margin-top:3.5em}
.mt4em{margin-top:4em}
.mt45em{margin-top:4.5em}
.mt5em{margin-top:5em}
.mb05em{margin-bottom:.5em}
.mb1em{margin-bottom:1em}
.mb15em{margin-bottom:1.5em}
.mb2em{margin-bottom:2em}
.mb25em{margin-bottom:2.5em}
.mb3em{margin-bottom:3em}
.mb35em{margin-bottom:3.5em}
.mb4em{margin-bottom:4em}
.mb45em{margin-bottom:4.5em}
.mb5em{margin-bottom:5em}
.w5{width:5%}
.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w25{width:25%}
.w30{width:30%}
.w35{width:35%}
.w40{width:40%}
.w45{width:45%}
.w50{width:50%}
.w55{width:55%}
.w60{width:60%}
.w65{width:65%}
.w70{width:70%}
.w75{width:75%}
.w80{width:80%}
.w85{width:85%}
.w90{width:90%}
.w95{width:95%}
.w100{width:100%}
.nowrap{white-space:nowrap}
.accordion_header_wrap{position:relative;background-color:#707377}
.accordion_header_wrap .accordion_header{display:block;-webkit-box-sizing:border-box;box-sizing:border-box;color:#fff;font-weight:700}
.accordion_header_wrap .accordion_toggle{position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);border:none;background-color:transparent}
.accordion_header_wrap .accordion_toggle:after,.accordion_header_wrap .accordion_toggle:before{content:"";position:absolute;top:50%;display:block;background-color:#606367;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);z-index:10}
.accordion_header_wrap .accordion_toggle:before{-webkit-transform:translateY(-50%) rotate(90deg);-ms-transform:translateY(-50%) rotate(90deg);transform:translateY(-50%) rotate(90deg);-webkit-transition:-webkit-transform .2s ease-out;transition:-webkit-transform .2s ease-out;-o-transition:transform .2s ease-out;transition:transform .2s ease-out;transition:transform .2s ease-out,-webkit-transform .2s ease-out}
.accordion_header_wrap .accordion_toggle:after{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.accordion_header_wrap .accordion_toggle.opened:before{-webkit-transform:translateY(-50%) rotate(0);-ms-transform:translateY(-50%) rotate(0);transform:translateY(-50%) rotate(0)}
.accordion_body{display:none;overflow:hidden;height:0;-webkit-transition:height .3s ease-out;-o-transition:height .3s ease-out;transition:height .3s ease-out}
/*!Slider*/
.md_slider{overflow:hidden}
.md_slider_container{margin:0 auto}
.md_slider_viewport{position:relative;padding:0;-ms-touch-action:pan-y;touch-action:pan-y}
.md_slider_viewport img{max-width:100%;display:block}
.md_slider_viewport .bx-viewport{-webkit-transform:translatez(0);overflow:visible!important}
.md_slider_viewport .bx-controls{text-align:center;font-size:1px}
.md_slider_viewport .bx-controls-auto,.md_slider_viewport .bx-pager{display:inline-block}
.md_slider_viewport .bx-pager{vertical-align:top;text-align:center;font-size:1px;font-family:Arial;font-weight:700;color:#666}
.md_slider_viewport .bx-pager.bx-default-pager a{background:#555;text-indent:-9999px;display:block;border-radius:50%;-webkit-transition:-webkit-transform .25s ease-out;transition:-webkit-transform .25s ease-out;-o-transition:transform .25s ease-out;transition:transform .25s ease-out;transition:transform .25s ease-out,-webkit-transform .25s ease-out;-webkit-box-sizing:border-box;box-sizing:border-box}
.md_slider_viewport .bx-pager.bx-default-pager a.active,.md_slider_viewport .bx-pager.bx-default-pager a:focus,.md_slider_viewport .bx-pager.bx-default-pager a:hover{background:#fff;border:2px solid #c30000;-webkit-transform:scale(1.3) translate3d(0,0,0);transform:scale(1.3) translate3d(0,0,0)}
.md_slider_viewport .bx-controls-auto .bx-controls-auto-item,.md_slider_viewport .bx-pager-item{display:inline-block;vertical-align:bottom}
.md_slider_viewport .bx-pager-item{font-size:0;line-height:0}
.md_slider_viewport .bx-prev{left:-110px;-webkit-transition:left .3s ease-out;-o-transition:left .3s ease-out;transition:left .3s ease-out}
.md_slider_viewport .bx-next{right:-110px;-webkit-transition:right .3s ease-out;-o-transition:right .3s ease-out;transition:right .3s ease-out}
.md_slider_viewport .bx-controls-direction a{position:absolute;top:50%;margin-top:-57px;width:80px;height:80px;z-index:10}
.md_slider_viewport .bx-controls-direction a.disabled{display:none}
.md_slider_viewport .bx-caption{position:absolute;left:0;width:100%;bottom:0;background:rgba(0,0,0,.7);text-align:center}
.md_slider_viewport .bx-caption span{color:#fff;display:block;padding:5px 10px}
.md_slider_viewport .bx-controls-auto:before{content:"";display:inline-block}
.md_slider_viewport .bx-controls-auto-item{position:absolute;bottom:-1px;text-indent:-9999px}
.md_slider_viewport .bx-controls-auto-item>a{position:relative;display:block;height:0;overflow:hidden}
.md_slider_viewport .bx-controls-auto-item>a.active{display:none}
.md_slider_viewport .bx-start:before{content:"";position:absolute;top:2px;display:block;width:0;height:0}
.md_slider_viewport .bx-stop:after,.md_slider_viewport .bx-stop:before{content:"";position:absolute;top:0;display:block;height:100%;background-color:#555}
@media screen{[hidden~=screen]{display:inherit}
[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}
}
@media (min-width:768px) and (max-width:979px){.footer_sitemap_container{margin-right:-20px;margin-left:-20px}
.footer_sitemap_container>ul>li{padding-right:20px;padding-left:20px}
}
@media print,screen and (min-width:768px){body{line-height:1.88;font-size:1em}
/*!グローバルヘッダー*/
#global_header{border-top:3px solid #e60000}
#global_header .container{max-width:1200px;margin:0 auto;padding:10px 13px}
#global_header .site_logo_wrap a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;min-height:46px}
#global_header .site_logo{padding-right:8px;position:relative}
#global_header .site_logo:after{content:"";position:absolute;right:0;top:9px;display:block;width:1px;height:36px;background-color:#000}
#global_header .site_logo img{width:109px;height:auto}
#global_header .site_name{padding-top:5px;padding-left:7px}
#global_header .site_name img{height:13px}
#global_header .lang_selector{margin-top:3px;margin-right:20px;font-size:.75em}
#global_header .lang_selector>li{padding:2px 9px}
#global_header .btn_menu{display:none}
#global_header .site_search{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:160px;margin-right:20px;border:1px solid #bbb}
#global_header .site_search .phrase{width:141px;height:18px;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 2px;border:none;color:#666;font-size:.75em;line-height:18px;-webkit-appearance:textfield;background-color:#fff}
#global_header .site_search .phrase:placeholder-shown{color:#666}
#global_header .site_search .phrase::-webkit-input-placeholder{color:#666}
#global_header .site_search .phrase::-moz-placeholder{color:#666;opacity:1}
#global_header .site_search .phrase:-ms-input-placeholder{color:#666}
#global_header .site_search .phrase::-webkit-search-cancel-button,#global_header .site_search .phrase::-webkit-search-decoration{-webkit-appearance:none}
#global_header .site_search .btn_search{line-height:1}
/*!グローバルナビ*/
#global_nav{padding-bottom:1px;border-bottom:1px solid #bababa}
#global_nav a{text-align:center}
#global_nav .container{max-width:1200px;margin:0 auto;padding-right:13px;padding-left:13px}
#global_nav .container>ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;list-style:none}
#global_nav .container>ul>li+li{margin-left:1px}
#global_nav .container>ul>li>a{position:relative;padding:10px 30px 8px;font-size:.88em;letter-spacing:.12em}
#global_nav .container>ul>li>a:after{content:"";display:block;position:absolute;left:50%;bottom:0;width:0;height:3px;background-color:#c30000;-webkit-transition:all .25s ease-out;-o-transition:all .25s ease-out;transition:all .25s ease-out}
#global_nav .container>ul>li>a:hover{text-decoration:none}
#global_nav .container>ul>li>a:hover:after{width:100%;left:0}
#global_nav .container>ul>li.current>a:after{left:0;width:100%}
#global_nav .site_search{display:none}
/*!グローバルフッター*/
#global_footer .container{max-width:1200px;margin:0 auto;padding:24px 13px 6px}
#global_footer .function_nav{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;border-left:1px solid #fff;font-size:.75em}
#global_footer .function_nav li{padding-right:8px;padding-left:8px;border-right:1px solid #fff}
#global_footer .copyright{margin-top:8px;font-size:.75em;text-align:right}
/*!フッターコンタクト*/
.footer_contact .container{max-width:980px;margin:0 auto;padding:30px 13px}
.footer_contact_header{margin-bottom:30px;font-size:2.5em;text-align:center}
.footer_contact_body{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.footer_contact .md_contact{display:block;-webkit-flex-basis:47.96%;-ms-flex-preferred-size:47.96%;flex-basis:47.96%}
.footer_contact .md_contact:before{float:left}
/*!フッターサイトマップ*/
.footer_sitemap_area .container{max-width:1200px;margin:0 auto;padding:40px 13px 70px}
.footer_sitemap_wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.footer_sitemap{overflow:hidden}
.footer_sitemap_container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.footer_sitemap_container+.footer_sitemap_container{margin-top:35px}
.footer_sitemap_container>ul.horizontal{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.footer_sitemap_container>ul>li{max-width:290px;line-height:1.4}
.footer_sitemap_container>ul>li>a{font-weight:700}
.footer_sitemap_container>ul>li>ul{margin-top:20px;margin-left:1em}
.footer_sitemap_container>ul>li>ul>li+li{margin-top:13px}
.footer_sitemap_container>ul.vertical>li+li{margin-top:20px}
.footer_sitemap_area .aside_area{margin-left:3.33%;padding-left:3.33%;border-left:1px solid #808285}
.footer_sitemap_area .corp_info dt{margin-bottom:6px;font-size:1.13em}
.footer_sitemap_area .md_social_links{margin-top:45px}
/*!スキップナビ*/
/*!パンくずリスト*/
.breadcrumb_list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin:12px 0;list-style:none;font-size:.75em;font-weight:700}
.breadcrumb_list a{text-decoration:underline}
.breadcrumb_list li+li{margin-left:9px;padding-left:11px;background:url(../img/arr.svg) no-repeat 0 50%;background-size:4px auto}
/*!ページ*/
.page_header{min-height:240px}
.page_header>.container{padding-top:40px;padding-bottom:40px}
.page_header .category{font-size:2em}
.page_header .title{font-size:3.13em}
.page_title{max-width:1200px;margin:0 auto 50px;padding-right:13px;padding-left:13px}
.page_title .inner{padding-bottom:30px;font-size:3.13em}
.page_lead{width:66.67%;margin:25px auto 50px;text-align:center}
#main{padding-bottom:60px}
#main .container{max-width:1200px;margin:0 auto;padding-right:13px;padding-left:13px}
#main .container_s{max-width:790px;margin:0 auto;padding:0 13px}
/*!セクション*/
.section+.section{margin-top:55px}
.section.section_theme_a,.section.section_theme_b,.section.section_theme_c,.section.section_theme_d{margin:0;padding:50px 0}
.section.section_theme_a:last-child,.section.section_theme_b:last-child,.section.section_theme_c:last-child,.section.section_theme_d:last-child{margin-bottom:-60px}
.section.section_theme_a+.section_theme_a{padding-top:0}
.section.section_theme_b+.section_theme_b{padding-top:0}
.section.section_theme_c+.section_theme_c{padding-top:0}
.section.section_theme_d+.section_theme_d{padding-top:0}
.section_header{margin-bottom:30px;font-size:2.5em}
.sub_section{margin-top:60px}
.section_header+.sub_section{margin-top:0}
.sub_section_header{margin-bottom:20px;font-size:1.5em}
.unit a:hover .thumb img{opacity:.7}
.unit_a .name{margin-top:15px;font-size:1.5em}
.unit_a .caption{margin-top:10px}
.unit_b .name{margin-top:15px;font-size:1.5em}
.unit_c .name{margin-top:15px;font-size:1.25em}
.unit_c .caption{margin-top:10px}
.unit_d .name{margin-top:15px;font-size:1.5em}
.unit_e .name{margin-top:15px;margin-bottom:5px;line-height:1.39}
.unit_f .icon{width:17.05%}
.unit_f .time{margin-bottom:6px;padding-bottom:6px;font-size:1.25em}
.unit_f .name{padding-right:18.47%;padding-left:18.47%;font-size:1.25em}
/*!ページトップ*/
#pagetop a{width:60px}
#pagetop a img{width:60px;height:60px}
/*!リスト*/
.list_date{display:table;width:100%}
.list_date>li{display:table-row}
.list_date>li .date,.list_date>li .title{display:table-cell;padding-top:15px;padding-bottom:15px;border-bottom:1px solid #c4c4c4;vertical-align:top}
.list_date>li .date{padding-right:40px;white-space:nowrap}
.list_date>li .title{width:100%}
.list_date>li .title>a{display:inline-block;padding-left:14px}
.list_links a{background-position:0 .56em}
.list_disc>li{padding-left:13px}
.list_disc>li:before{top:.69em;width:7px;height:7px}
.list_order li{padding-left:1.5em}
.list_business .business .name{margin-top:30px}
.list_business .business a:hover .thumb img{opacity:.7}
/*!テーブル*/
.table_b td,.table_b th{padding:15px 10px}
/*!コンタクトモジュール*/
.md_contact{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:#393d43}
.md_contact:before{content:"";display:block;width:80px;height:80px;margin-right:10px;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}
.md_contact_header{font-size:1em}
.md_contact_tel:before{background:url(../img/icon_tel.svg) no-repeat;background-size:80px}
.md_contact_tel .tel{font-size:2.88em}
.md_contact_fax:before{background:url(../img/icon_fax.svg) no-repeat;background-size:80px}
.md_contact_fax .fax{font-size:2.88em}
.md_contact_mail:before{background:url(../img/icon_mail.svg) no-repeat;background-size:80px}
.md_contact_mail .link{font-size:1.75em}
/*!ソーシャルリンクモジュール*/
.md_social_links li+li{padding-left:10px}
/*!ボタン*/
.md_button_a a{padding:15px 60px 15px 30px;font-size:1.25em;-webkit-transition:opacity .25s ease-out;-o-transition:opacity .25s ease-out;transition:opacity .25s ease-out}
.md_button_a a:after{right:15px;width:31px;height:24px;background-size:31px auto}
.md_button_a a:hover{opacity:.7}
.md_button_b a{padding:15px 60px 15px 30px;font-size:1.25em;-webkit-transition:opacity .25s ease-out;-o-transition:opacity .25s ease-out;transition:opacity .25s ease-out}
.md_button_b a:after{right:15px;width:31px;height:24px;background-size:31px auto}
.md_button_b a:hover{opacity:.7}
/*!レイアウト*/
.grid .order1{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}
.grid .order2{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2}
.grid .order3{-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3}
.grid .order4{-webkit-box-ordinal-group:5;-webkit-order:4;-ms-flex-order:4;order:4}
.grid .order5{-webkit-box-ordinal-group:6;-webkit-order:5;-ms-flex-order:5;order:5}
.grid .order6{-webkit-box-ordinal-group:7;-webkit-order:6;-ms-flex-order:6;order:6}
.grid_pc_col_2 .grid_container{margin-right:-2.5%;margin-left:-2.5%}
.grid_pc_col_2 .col{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:45.24%;-ms-flex-preferred-size:45.24%;flex-basis:45.24%;padding-right:2.38%;padding-left:2.38%}
.grid_pc_col_2 .col:nth-child(n+3){margin-top:30px}
.grid_pc_col_3 .grid_container{margin-right:-2.5%;margin-left:-2.5%}
.grid_pc_col_3 .col{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:28.57%;-ms-flex-preferred-size:28.57%;flex-basis:28.57%;padding-right:2.38%;padding-left:2.38%}
.grid_pc_col_3 .col:nth-child(n+4){margin-top:30px}
.grid_pc_col_4 .grid_container{margin-right:-2.5%;margin-left:-2.5%}
.grid_pc_col_4 .col{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:20.24%;-ms-flex-preferred-size:20.24%;flex-basis:20.24%;padding-right:2.38%;padding-left:2.38%}
.grid_pc_col_4 .col:nth-child(n+5){margin-top:30px}
.grid_pc_col_6 .grid_container{margin-right:-1.99%;margin-left:-1.99%}
.grid_pc_col_6 .col{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:12.82%;-ms-flex-preferred-size:12.82%;flex-basis:12.82%;padding-right:1.92%;padding-left:1.92%}
.grid_pc_col_6 .col:nth-child(n+7){margin-top:30px}
.footer_banner{margin:50px 0}
.footer_banner_a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:5%}
.footer_banner_a .image{-webkit-flex-basis:47.22%;-ms-flex-preferred-size:47.22%;flex-basis:47.22%}
.footer_banner_a .body{-webkit-flex-basis:47.22%;-ms-flex-preferred-size:47.22%;flex-basis:47.22%;margin-left:5.56%}
.footer_banner_a .text{margin-bottom:10px;font-size:1.5em;line-height:1.42}
.footer_banner_b{padding:2.5% 3.33% 3.33%}
.footer_banner_b .text{font-size:1.75em}
/*!ヘルパークラス*/
.sp{display:none!important}
.marker_disc{padding-left:15px}
.marker_disc:before{top:.63em;width:10px;height:10px}
.annotation small{font-size:.88em}
.icon_blank{width:16px;height:13px}
.arr{padding-left:15px;background-position:0 .5em;background-size:7px auto}
.large{font-size:1.25em}
.xlarge{font-size:1.5em}
.xxlarge{font-size:1.75em}
.accordion_header_wrap .accordion_header{padding:10px 15px;font-size:1.25em}
.accordion_header_wrap .accordion_toggle img{width:30px}
.accordion_header_wrap .accordion_toggle{right:20px;width:30px}
.accordion_header_wrap .accordion_toggle:after,.accordion_header_wrap .accordion_toggle:before{right:8px;width:14px;height:4px}
/*!Slider*/
.md_slider_container{max-width:980px}
.md_slider_viewport{margin-bottom:60px}
.md_slider_viewport .bx-pager{line-height:35px}
.md_slider_viewport .bx-pager.bx-default-pager a{width:16px;height:16px;margin:0 12px}
.md_slider_viewport .bx-caption span{font-size:1.75em;line-height:1.43}
.md_slider_viewport .bx-controls-auto{width:35px}
.md_slider_viewport .bx-controls-auto-item>a{padding-top:18px;width:32px}
.md_slider_viewport .bx-start:before{left:10px;border-left:15px solid #555;border-top:7px solid transparent;border-bottom:7px solid transparent}
.md_slider_viewport .bx-stop:after,.md_slider_viewport .bx-stop:before{width:5px}
.md_slider_viewport .bx-stop:before{left:8px}
.md_slider_viewport .bx-stop:after{right:8px}
}
@media print,screen and (min-width:980px){.footer_sitemap_container{margin-right:-30px;margin-left:-30px}
.footer_sitemap_container>ul>li{padding-right:30px;padding-left:30px}
}
@media screen and (max-width:1200px){.md_slider_viewport .bx-prev{left:10px}
.md_slider_viewport .bx-next{right:10px}
}
@media only screen and (max-width:767px){body{font-size:.94em;line-height:1.67}
/*!グローバルヘッダー*/
#global_header{border-top:2px solid #e60000;border-bottom:1px solid #bababa}
#global_header .container{padding:10px}
#global_header .site_logo_wrap{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
#global_header .site_logo_wrap a{display:inline-block}
#global_header .site_logo{margin-bottom:6px}
#global_header .site_logo img{width:87px;height:auto}
#global_header .site_name{padding-top:5px;border-top:1px solid #000}
#global_header .site_name img{height:10px}
#global_header .site_logo+.site_name{margin-bottom:-3px}
#global_header .lang_selector{margin-top:12px;margin-right:3px;font-size:.6em}
#global_header .lang_selector>li{padding:1px 5px}
#global_header .btn_menu{position:relative;display:block;-webkit-flex-basis:40px;-ms-flex-preferred-size:40px;flex-basis:40px;text-decoration:none;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;margin-right:-7px;-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start}
#global_header .btn_menu:after,#global_header .btn_menu:before{content:"";position:absolute;left:50%;display:block;width:20px;height:3px;background-color:#333;-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0);-webkit-transition:height .2s ease-out,-webkit-transform .2s ease-out;transition:height .2s ease-out,-webkit-transform .2s ease-out;-o-transition:transform .2s ease-out,height .2s ease-out;transition:transform .2s ease-out,height .2s ease-out;transition:transform .2s ease-out,height .2s ease-out,-webkit-transform .2s ease-out;-webkit-transform-origin:0 50% 0;-ms-transform-origin:0 50% 0;transform-origin:0 50% 0}
#global_header .btn_menu:before{top:7px}
#global_header .btn_menu:after{top:22px}
#global_header .btn_menu .inner{display:block;padding-top:29px;font-size:8px;white-space:nowrap;text-align:center}
#global_header .btn_menu .inner:before{content:"";position:absolute;top:15px;left:50%;display:block;width:20px;height:3px;background-color:#333;-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0);-webkit-transition:opcaity .2s ease-out;-o-transition:opcaity .2s ease-out;transition:opcaity .2s ease-out}
#global_header .btn_menu.opened:after,#global_header .btn_menu.opened:before{height:2px}
#global_header .btn_menu.opened:before{-webkit-transform:translate3d(-50%,1px,0) rotate(45deg);transform:translate3d(-50%,1px,0) rotate(45deg)}
#global_header .btn_menu.opened:after{-webkit-transform:translate3d(-50%,0,0) rotate(-45deg);transform:translate3d(-50%,0,0) rotate(-45deg)}
#global_header .btn_menu.opened .inner:before{opacity:0}
#global_header .site_search{display:none}
/*!グローバルナビ*/
#global_nav{display:none;background-color:#eee;overflow:hidden;height:0;-webkit-transition:height .3s ease-out;-o-transition:height .3s ease-out;transition:height .3s ease-out}
#global_nav a{background:url(../img/arr.svg) no-repeat;background-size:7px auto}
#global_nav .container>ul>li{border-bottom:1px solid #cecece}
#global_nav .container>ul>li>a{padding:12px 25px;background-position:10px 50%}
#global_nav .site_search{padding:10px;border-bottom:1px solid #cecece}
#global_nav .site_search .phrase{width:100%;height:32px;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 10px;background-color:#fff;border:1px solid #cecece;color:#666;font-size:1em;line-height:32px;-webkit-appearance:textfield}
#global_nav .site_search .phrase:placeholder-shown{color:#666}
#global_nav .site_search .phrase::-webkit-input-placeholder{color:#666}
#global_nav .site_search .phrase:-ms-input-placeholder{color:#666}
#global_nav .site_search .phrase::-webkit-search-cancel-button,#global_nav .site_search .phrase::-webkit-search-decoration{-webkit-appearance:none}
/*!グローバルフッター*/
#global_footer .container{position:relative;padding:20px 10px 18px}
#global_footer .function_nav{font-size:.87em}
#global_footer .function_nav li+li{margin-top:2px}
#global_footer .copyright{margin-top:18px;font-size:.8em}
/*!フッターコンタクト*/
.footer_contact .container{padding:25px 10px}
.footer_contact_header{margin-bottom:15px;font-size:1.47em}
.footer_contact .md_contact+.md_contact{margin-top:20px}
/*!フッターサイトマップ*/
.footer_sitemap_area .container{padding:0 10px 30px}
.footer_sitemap{margin-right:-10px;margin-left:-10px}
.footer_sitemap a{display:block;background:url(../img/arr_white.svg) no-repeat;background-size:7px auto}
.footer_sitemap_container>ul{border-bottom:1px solid #7a7a7a}
.footer_sitemap_container>ul>li+li{border-top:1px solid #7a7a7a}
.footer_sitemap_container>ul>li>a{padding:12px 25px;background-position:10px 50%}
.footer_sitemap_container>ul>li>ul{font-size:.93em}
.footer_sitemap_container>ul>li>ul>li>a{padding:12px 25px 12px 60px;background-position:45px 50%}
.footer_sitemap_area .corp_info{margin-top:25px}
.footer_sitemap_area .corp_info dt{margin-bottom:10px;font-size:1.33em}
.footer_sitemap_area .md_social_links{margin-top:25px}
/*!スキップナビ*/
/*!パンくずリスト*/
.breadcrumb_list{display:none}
/*!ページ*/
.page_header{min-height:150px;margin-bottom:20px}
.page_header>.container{padding-top:20px;padding-bottom:20px}
.page_header .category{font-size:1.33em}
.page_header .title{font-size:1.8em}
.page_title{margin-bottom:25px;padding-top:20px}
.page_title .inner{padding-bottom:15px;font-size:1.8em}
.page_lead{margin:20px 0 30px}
#main{padding-bottom:35px}
#main .container{margin-right:10px;margin-left:10px}
#main .container_s{margin-right:10px;margin-left:10px}
/*!セクション*/
.section+.section{margin-top:25px}
.section.section_theme_a,.section.section_theme_b,.section.section_theme_c,.section.section_theme_d{margin:0;padding:25px 0}
.section.section_theme_a:last-child,.section.section_theme_b:last-child,.section.section_theme_c:last-child,.section.section_theme_d:last-child{margin-bottom:-35px}
.section.section_theme_a+.section_theme_a{padding-top:0}
.section.section_theme_b+.section_theme_b{padding-top:0}
.section.section_theme_c+.section_theme_c{padding-top:0}
.section.section_theme_d+.section_theme_d{padding-top:0}
.section_header{margin-bottom:15px;font-size:1.47em}
.sub_section{margin-top:30px}
.section_header+.sub_section{margin-top:0}
.sub_section_header{margin-bottom:10px}
.unit .thumb img{margin:0 auto}
.unit_a .name{margin-top:10px;font-size:1.2em}
.unit_a .caption{margin-top:5px}
.unit_b .name{margin-top:10px;font-size:1.2em}
.unit_c .name{margin-top:15px;font-size:1.2em}
.unit_c .caption{margin-top:5px}
.unit_d .name{margin-top:10px;font-size:1.2em}
.unit_e .name{margin-top:10px;margin-bottom:5px;font-size:1.2em;line-height:1.39}
.unit_f .icon{width:50px}
.unit_f .icon img{margin:0 auto}
.unit_f .time{margin-bottom:4px;padding-bottom:3px;font-size:1.2em}
.unit_f .name{padding-right:50px;padding-left:50px;font-size:1.2em}
/*!ページトップ*/
#pagetop a{width:50px}
#pagetop a img{width:50px;height:50px}
/*!リスト*/
.list_date>li{padding-top:12px;padding-bottom:12px;border-bottom:1px solid #c4c4c4}
.list_date>li .date{margin-bottom:5px}
.list_date>li .title>a{display:block;padding-left:10px}
.list_links a{background-position:0 .53em}
.list_disc>li{padding-left:11px}
.list_disc>li:before{top:.6em;width:5px;height:5px}
.list_order li{padding-left:1.5em}
.list_business{width:87.5%;margin:0 auto}
.list_business .business .name{margin-top:8px}
.list_business .business a .thumb img{margin:0 auto}
/*!テーブル*/
.table_b td,.table_b th{padding:10px 5px}
/*!コンタクトモジュール*/
.md_contact_container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.md_contact_container:before{content:"";display:block;-webkit-flex-basis:40px;-ms-flex-preferred-size:40px;flex-basis:40px;width:40px;height:40px;margin-right:10px;-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}
.md_contact_header{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;margin-bottom:5px;font-size:1em}
.md_contact_body{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2}
.md_contact_tel .md_contact_container:before{background:url(../img/icon_tel.svg) no-repeat;background-size:40px}
.md_contact_tel .tel{font-size:2em}
.md_contact_tel .time{font-size:.8em}
.md_contact_fax .md_contact_container:before{background:url(../img/icon_fax.svg) no-repeat;background-size:40px}
.md_contact_fax .fax{font-size:2em}
.md_contact_mail .md_contact_container:before{background:url(../img/icon_mail.svg) no-repeat;background-size:40px}
.md_contact_mail .link{font-size:1.33em}
/*!ソーシャルリンクモジュール*/
.md_social_links{margin-right:auto;margin-left:auto}
.md_social_links li+li{padding-left:25px}
/*!ボタン*/
.md_button_a a{padding:12px 43px 12px 15px;font-size:1em}
.md_button_a a:after{right:10px;width:23px;height:18px;background-size:23px auto}
.md_button_b a{padding:12px 43px 12px 15px;font-size:1em}
.md_button_b a:after{right:10px;width:23px;height:18px;background-size:23px auto}
/*!レイアウト*/
.grid .grid_container{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.grid .col{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%}
.grid .col+.col{margin-top:20px}
.grid_sp_col_1 .grid_container{display:block}
.grid_sp_col_1:after{display:none}
.grid_sp_col_3 .grid_container{margin-right:-3.57%;margin-left:-3.57%}
.grid_sp_col_3 .col{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:26.67%;-ms-flex-preferred-size:26.67%;flex-basis:26.67%;padding-right:3.33%;padding-left:3.33%}
.grid_sp_col_3 .col+.col{margin-top:0}
.grid_sp_col_3 .col:nth-child(n+4){margin-top:20px}
.footer_banner{margin:25px 0}
.footer_banner_a{padding:20px}
.footer_banner_a .image img{margin:0 auto}
.footer_banner_a .text{margin:15px 0 10px;font-size:1.33em;line-height:1.25}
.footer_banner_b{padding:20px}
.footer_banner_b .text{font-size:1.33em}
/*!ヘルパークラス*/
.pc{display:none!important}
.fluid{margin:0 auto}
.marker_disc{padding-left:13px}
.marker_disc:before{top:.53em;width:9px;height:9px}
.annotation small{font-size:.75em}
.icon_blank{width:16px;height:13px}
.arr{padding-left:10px;background-size:7px auto;background-position:0 .2em}
.large{font-size:1.2em}
.xlarge{font-size:1.47em}
.xxlarge{font-size:1.73em}
.accordion_header_wrap .accordion_header{padding:10px;font-size:1.07em}
.accordion_header_wrap .accordion_toggle img{width:25px}
.accordion_header_wrap .accordion_toggle{right:10px;width:25px}
.accordion_header_wrap .accordion_toggle:after,.accordion_header_wrap .accordion_toggle:before{right:7px;width:12px;height:2px}
/*!Slider*/
.md_slider_container{max-width:250px}
.md_slider_viewport{margin-bottom:30px}
.md_slider_viewport .bx-pager{line-height:20px}
.md_slider_viewport .bx-pager.bx-default-pager a{width:8px;height:8px;margin:0 6px}
.md_slider_viewport .bx-prev{display:none}
.md_slider_viewport .bx-next{display:none}
.md_slider_viewport .bx-caption span{font-size:.93em}
.md_slider_viewport .bx-controls-auto{width:18px}
.md_slider_viewport .bx-controls-auto-item>a{padding-top:11px;width:16px}
.md_slider_viewport .bx-start:before{left:5px;border-left:9px solid #555;border-top:4px solid transparent;border-bottom:4px solid transparent}
.md_slider_viewport .bx-stop:after,.md_slider_viewport .bx-stop:before{width:3px}
.md_slider_viewport .bx-stop:before{left:4px}
.md_slider_viewport .bx-stop:after{right:4px}
}
@media print{body{width:1200px;zoom:89%}
}