.heroimg{background:url(../img/heroimg.jpg) no-repeat 50% 50%;background-size:cover;text-align:center;color:#fff}
.heroimg>.container{-webkit-box-sizing:border-box;box-sizing:border-box}
.heroimg .copy{text-shadow:0 2px 3px rgba(0,0,0,.5)}
.heroimg .copy_en{font-weight:700}
#section_career{padding-bottom:0}
#section_career .image{background:url(../img/img_01.jpg) no-repeat 50% 50%;background-size:cover}
#section_career .md_button_a{position:absolute;left:50%;bottom:30px;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);white-space:nowrap}
#section_access .map .scaler{position:relative;width:100%;height:0}
#section_access .map iframe{position:absolute;top:0;left:0;width:100%;height:100%}
#section_access .text_info{list-style:none}
#section_access .text_info li+li{margin-top:5px}
@media only screen and (min-width:768px) and (max-width:767px){#section_access .photo img{margin:0 auto}
}
@media print,screen and (min-width:768px){.heroimg{margin-bottom:60px}
.heroimg>.container{min-height:480px;padding-top:140px;padding-bottom:30px}
.heroimg .copy_en{font-size:3.13em}
.heroimg .copy_jp{margin-top:15px;font-size:2.25em}
.heroimg .md_button_a{margin-top:65px}
#section_career .image{background-position:50% 50%}
#section_career .image>.container{height:460px}
#section_access .wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
#section_access .photo{-webkit-flex-basis:29.17%;-ms-flex-preferred-size:29.17%;flex-basis:29.17%}
#section_access .photo img{display:block;max-width:100%;height:auto}
#section_access .map{-webkit-flex-basis:70.83%;-ms-flex-preferred-size:70.83%;flex-basis:70.83%}
#section_access .map .scaler{padding-top:54.12%}
#section_access .text_info{margin-top:20px}
}
@media only screen and (max-width:767px){.heroimg{margin-bottom:30px}
.heroimg>.container{min-height:270px;padding-top:25px;padding-bottom:20px}
.heroimg .copy_en{font-size:1.8em}
.heroimg .copy_jp{font-size:1.33em}
.heroimg .md_button_a{margin-top:95px}
#section_career .image{background-position:30% 50%}
#section_career .image>.container{height:310px}
#section_access .photo{display:none}
#section_access .map .scaler{padding-top:53.33%}
#section_access .text_info{margin-top:10px}
}