.biz .biz_header{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-bottom:15px;padding-bottom:10px;border-bottom:1px solid #9c9ea1}
.biz .biz_header .icon img{display:block;max-width:100%;height:auto}
.biz .image img{display:block;max-width:100%;height:auto}
.biz .lead{font-weight:700;margin-bottom:10px}
@media print,screen and (min-width:768px){.page_header{background-image:url(../img/bg_header.jpg)}
.biz{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:60px}
.biz .biz_header .icon{width:50px;margin-right:12px}
.biz .biz_header .name{font-size:1.5em}
.biz .image{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%}
.biz .biz_container{-webkit-flex-basis:47.5%;-ms-flex-preferred-size:47.5%;flex-basis:47.5%}
.biz .md_button_b{margin-top:30px}
.biz.biz_l .image{margin-right:2.5%}
.biz.biz_r .image{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1;margin-left:2.5%}
.biz.biz_r .biz_container{-webkit-box-ordinal-group:1;-webkit-order:0;-ms-flex-order:0;order:0}
}
@media only screen and (max-width:767px){.page_header{background-image:url(../img/bg_header_sp.jpg)}
.biz{margin-bottom:40px}
.biz .biz_header .icon{width:40px;margin-right:7px}
.biz .biz_header .icon img{margin:0 auto}
.biz .biz_header .name{font-size:1.2em}
.biz .image{margin-bottom:10px}
.biz .image img{margin:0 auto}
.biz .md_button_b{margin-top:15px}
}