.page_title .inner{padding-bottom:0;border:none}
.contact_wrap{background-color:#f5f5f5}
.contact_wrap .contact_header{color:#606367;font-weight:400;text-align:center}
@media print,screen and (min-width:768px){.contact_wrap{margin-bottom:60px}
.contact_wrap>.container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding-top:60px;padding-bottom:60px}
.contact_wrap .contact{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.contact_wrap .contact:nth-child(1){padding-right:2.5%}
.contact_wrap .contact:nth-child(2){padding-left:2.5%;border-left:1px solid #c4c4c4}
.contact_wrap .contact_header{margin-bottom:20px;font-size:1.75em}
.contact_wrap .contact_body{display:table;margin:0 auto}
.contact_wrap .md_contact+.md_contact{margin-top:20px}
}
@media only screen and (max-width:767px){.contact_wrap{margin-bottom:30px}
.contact_wrap>.container{padding-top:20px;padding-bottom:20px}
.contact_wrap .contact:nth-child(2){margin-top:20px;padding-top:20px;border-top:1px solid #c4c4c4;border-top:1px solid #c4c4c4}
.contact_wrap .contact_header{font-size:1.31em;margin-bottom:15px}
.contact_wrap .md_contact+.md_contact{margin-top:10px}
}